<h1>プロフィール</h1>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>自己紹介</h3>
<%= @user.introduction %>
<h3>アイコン画像</h3>
    <% if @user.profilepic.present? %>
      <%= image_tag @user.profilepic.url , class:"ppic", alt: "アイコン画像" %>
    <% else %>
      <%= image_tag "prof_default.png" %>
    <% end %>

<p><%= link_to "プロフィール編集", users_profile_edit_path %></p>

<p><%= link_to "TOP", root_path %></p>
