<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword,:placeholder => "キーワードを入力", value: @keyword %>
    <%= f.hidden_field :subject, value: "free"  %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, :placeholder => "エリア名を入力",value: @keyword %>
    <%= f.hidden_field :subject, value: "area"  %>
    <%= f.submit "検索" %>
  <% end %>
<h3>登録施設一覧</h3>

  <table>
    <thead>
      <tr>
        <th>施設名</th>
        <th>施設画像</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.facilityname %></td>
          <td><%= image_tag room.facilitypic.url , class:"fpic", alt: "施設画像" %></td>
          <td><%= room.facilityintroduction %></td>
          <td><%= room.cost %></td>
          <td><%= room.created_at.to_s(:date_jp) %></td>
          <td>
              <%= link_to "詳細", room %>
          </td>
          <td>
            <%= link_to "削除",  room, method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p><%= link_to "施設登録", new_room_path %></p>
<p><%= link_to "新規登録", new_user_registration_path %></p>
<p><%= link_to "アカウント情報変更", edit_user_registration_path%></p>
<p><%= link_to "プロフィール", users_profile_path %></p>
<p><%= link_to "ログイン", new_user_session_path %></p>
<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
