<h3>施設一覧</h3>

  <table>
    <thead>
      <tr>
        <th>施設名</th>
        <th>施設画像</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.facilityname %></td>
          <td><%= image_tag room.facilitypic.url , class:"fpic", alt: "施設画像" %></td>
          <td><%= room.facilityintroduction %></td>
          <td><%= room.cost %></td>
          <td><%= room.created_at.to_s(:date_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p><%= link_to "施設登録", new_room_path %></p>
