<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword,:placeholder => "キーワードを入力", value: @keyword %>
    <%= f.hidden_field :subject, value: "free"  %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, :placeholder => "エリア名を入力",value: @keyword %>
    <%= f.hidden_field :subject, value: "area"  %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<h3>検索結果</h3>
<p>条件に合う施設が<%= @rooms.count %>件見つかりました。</p>
  <table class="index-table">
    <thead>
      <tr>
        <th>施設名</th>
        <th>住所</th>
        <th>紹介文</th>
        <th>料金</th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.facilityname %></td>
          <td><%= room.address%></td>
          <td><%= room.facilityintroduction %></td>
          <td><%= room.cost %></td>
          <td>
            <% if user_signed_in? %>
              <%= link_to "詳細", room %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
